<ion-view view-title="Agregar producto">
  <ion-content class="padding">
  
  <form name="agregarForm" novalidate>
  <div class="list">
  
   <label class="item item-input">
  <span class="input-label">Nombre</span>
  <input type="text" name="nombre" ng-model="menu.nombre" required>
  </label>
  
  <label class="item item-input">
  <span class="input-label">Descripcion</span>
  <input type="text" name="apellido" ng-model="menu.apellido" required>
  </label>
  
  <label class="item item-input">
  <span class="input-label">Precio</span>
  <input type="tel" name="telefono" ng-model="menu.precio" required >
  </label>
  
  
  </div>
  
  <div class="padding">
  <p ng-show="agregarForm.nombre.$error.required">Escriba el nombre</p>
  <p ng-show="agregarForm.nombre.$error.required">Escriba el apellido</p>
  <p ng-show="agregarForm.telefono.$error.required">Escriba el telefono</p>
  
  
 <p>{{ statusMessage }}</p>
 
  </div>
  
 <button type="button" class="button icon-left ion-android-checkbox-outline button-positive" ng-disabled="agregaForm.$invalid" ng-click="guardar(restaurante)">
  Guardar
</button>
  
  </form>
  </ion-content>
</ion-view>


